@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    overflow: hidden;
    
}


body, html {
    width: 100vw;
    height:100vh;
    margin:0;
    padding:0;
  
}
.header {
    width: 100%;
    height:6%;
    display: flex;
   

}

.header > div {
    height: 100%;
    width: 33.333%;
    flex: 1;
}

.left-part {
    
    background-color: #131722;
}
.right-part {
    
    background-color: #30343e;
    
}

.logo-img {
    max-width: fit-content;
    height: 100%;
    object-fit: cover;
    background-blend-mode: color;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.top-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px rgba(230, 221, 221, 0.8) solid;
    background-color: rgba(168, 168, 174, 0.813);
}

.side-bar {
    height: 100vh;
    width: 175px;
    position: static;
    transition: 0.25s all ease-in-out;
    
}

#add-Ele {
    cursor: pointer;

}

#add-Ele:hover{
    opacity: 0.75;
}



.side-bar .top {
    width: 175px;
    height: 50px;
    background-color: red;
}

.main-content {
    width: 100%;
    height: 100vh;
    flex-grow: 0;
}

canvas {
    
    border-left: 1px rgb(191, 188, 188) solid;
    
}

input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 15px;

}

input:focus {
    outline: none;
}



.input-container {
    display: flex;
    width:100%;
    border-bottom: 1px rgba(150, 150, 150, 0.5) solid;
}

.color-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 2px;
}
.color-container > div{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);

}


.zoom-container > * {
    cursor: pointer;
    display: block;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 50%;
    font-size: 1.85rem;

}


.graph-configs {
    position: absolute;
    top: 10%;
    left: calc(100vw - 45px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.zoom-container{

    width: fit-content;
    height: fit-content;
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ededed;
    border-radius: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    

    
}

.relocate-container {
    margin-top: 10px;
    background-color: #ededed;
    padding: 5px 5px 2px 5px;
    border-radius: 5px;

}

#zoom-in {
    border-bottom: 2px black solid;
}

.zoom-container > *:hover {
    opacity: 0.2;
}

.integration-container {
    margin-top: 8px;
    width: 100%;
    height: 35px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    transition:  all 0.15s ease;



}
.integral-sign {
    width: 20px;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -3px;
    
    

}

.integration-container:hover {
    color: red;
    background-color: rgb(255, 255, 255);


}

.integration-container:active{
    opacity: 0.5;
}

#refreshBtn {
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    width: 100%;
    height: 100%;
}

#refreshBtn:hover {
    opacity: 0.2;
}

.derivative-container {
    font-family: 'times';
    margin-top: 8px;
    width: 100%;
    height: 35px;
    background-color: rgb(66, 109, 238);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 1px;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.deriv-sign-middle {
    width: 60%;
    height: 1px;
    background-color:white;

}

.derivative-container:hover {
    color: rgb(66, 109, 238);
    background-color: white;

}



.right-integration{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color: rgb(70, 239, 146);
    padding: 2px;
    margin-top: 8px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.left-integration{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color: rgb(238, 149, 238);
    padding: 2px;
    margin-top: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;


}

.left-integration:hover, .right-integration:hover {
    opacity: 0.6;
}

.integration-settings {
    position: absolute;
    width: 200px;
    font-family: "Roboto";

    left: 2%;
    top: 5%;
    text-align: center;
    padding: 10px;
    background-color: rgba(220, 220, 220, 0.66);
}



#integration-slider {
    width: 80%;
    height: 1%;
    padding: 2px;

}

.n-value-container {
    margin-top: 10px;
}
.title {
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
}

.interval-container{
    margin-bottom: 5px;
    margin-top: 5px;
}

.derivative-settings {
    position: absolute;
    width: 200px;
    font-family: "Roboto";

    left: 2%;
    top: 5%;
    text-align: center;
    padding: 10px;
    background-color: rgba(220, 220, 220, 0.66);

}

.derivative-symbol {
    font-family: 'times';
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.middle-deriv-sign{
    width: 100%;
    height: 2px;
    background-color: black;
}
.derivative-eq-container {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    justify-content: center;
}

.derivative-eq {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}

.info{
    margin-top: 5px;
    margin-bottom: -8px;
}


.point-hovered-display-container{
    font-family: 'times';
    background: rgba(220, 220, 220, .75);
    border-radius: 1px;
    font-weight: 0;
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    font-size: 15px;
    border: .5px rgba(0, 0, 0, 0.75) solid;
}



.hidden {
    display: none;
}






