* {
    box-sizing: border-box;
    overflow: hidden;
    
}


body, html {
    width: 100vw;
    height:100vh;
    margin:0;
    padding:0;
  
}
.header {
    width: 100%;
    height:6%;
    display: flex;
   

}

.header > div {
    height: 100%;
    width: 33.333%;
    flex: 1;
}

.left-part {
    
    background-color: #131722;
}
.right-part {
    
    background-color: #30343e;
    
}

.logo-img {
    max-width: fit-content;
    height: 100%;
    object-fit: cover;
    background-blend-mode: color;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.top-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px rgba(230, 221, 221, 0.8) solid;
    background-color: rgba(168, 168, 174, 0.813);
}
.side-bar {
    height: 100vh;
    width: 175px;
    position: static;
    transition: 0.25s all ease-in-out;
    
}

#add-Ele {
    cursor: pointer;

}

#add-Ele:hover{
    opacity: 0.75;
}



.side-bar .top {
    width: 175px;
    height: 50px;
    background-color: red;
}

.main-content {
    width: 100%;
    height: 100vh;
    flex-grow: 0;
}

canvas {
    
    border-left: 1px rgb(191, 188, 188) solid;
    
}

input {
    width: 100%;
    border: none;
    padding: 10px;

}

input:focus {
    outline: none;
}



.input-container {
    display: flex;
    width:100%;
    border-bottom: 1px rgba(150, 150, 150, 0.5) solid;
}

.color-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 2px;
}
.color-container > div{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);

}


.zoom-container > * {
    cursor: pointer;
    display: block;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 50%;
    font-size: 1.85rem;

}


.graph-configs {
    position: absolute;
    top: 10%;
    left: calc(100vw - 45px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.zoom-container{

    width: fit-content;
    height: fit-content;
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ededed;
    border-radius: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    

    
}

.relocate-container {
    margin-top: 10px;
    background-color: #ededed;
    padding: 5px 5px 2px 5px;
    border-radius: 5px;

}

#zoom-in {
    border-bottom: 2px black solid;
}





.zoom-container > *:hover {
    opacity: 0.5;
}

